$basic-item-width: 380px;
$basic-item-height: 70px;

$basic-padding: 20px;

$border-radius: 15px;
$button-border-radius: 20px;

$basic-transition-time: 0.3s;
$long-transition-time: 0.5s;

$basic-font-size: 26px;
$big-font-size: 30px;
$bigger-font-size: 38px;
$small-font-size: 20px;
$smaller-font-size: 14px;

$body-color: #272727;
$main-color: #7b7b7b;
$secondary-color: #f5f5f5;
$tertiary-color: #adabac;
$quaternary-color: #666666;
$senary-color: #4e4e4e;

$input-color: #b6b6b6;
$add-contact-btn-hover-color: #a1a1a1;
$details-btn-hover-color: #c0c0c0;
